<h1>Patients</h1>
<ul class="list-unstyled" class="container">
    <li ng-repeat="patient in patients">
        <div class="row whiskey-item">
            <div class="col-xs-9">
                <h4>{{patient.name}}</h4>
                <div class="distillery">id: {{patient.id}}</div>
                <div class="distillery">email: {{patient.email}}</div>
            </div>
        </div>
    </li>
    <div class="row whiskey-item">
        <div class="col-xs-9">
            <form role="form">
                <label for="patientName" class="g-label">Patient Name:</label><input ng-required="true"  name="patientName" ng-model="patientName">
                <br><br>
                <label for="patientEmail" class="g-label">Email: </label><input ng-required="true"  name="patientEmail" ng-model="patientEmail">               
                <br/>
                <br/>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="submit()">Submit</button>
                </div>
            </form> 
        </div>
    </div>
</ul>

