<h1>Patients</h1>
<ul class="list-unstyled" class="container">
    <li ng-repeat="patient in patients">
        <div class="row whiskey-item">
            <div class="col-xs-9">
                <h4>{{patient.name}}</h4>
                <div class="distillery">id: {{physician.id}}</div>
            </div>
        </div>
    </li>
    <div class="row whiskey-item">
        <div class="col-xs-9">
            <form role="form">
                Patient Name: <input ng-required="true"  ng-model="patientName">               
                <br/>
                <br/>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="submit()">Submit</button>
                </div>
            </form> 
        </div>
    </div>
</ul>

